{{> menu id="about"}}

<section class="ui center aligned middle aligned raised segment">
  <h2 class="ui header">
    Contact Information
  </h2>
  <p>
    <b>Designer:</b> Mozeeb Abdulha <br>
    <b>Address:</b>  Jumeirah Street, Dubai, United Arab Emirates <br>
    <b>Email:</b>  mozeebabdulha@gmail.com <br>
    <b>Phone Number:</b> +971 8453691455
  </p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1805.9132661947508!2d55.18388395800933!3d25.141554845980508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f6a576414cf2d%3A0xb3da71b879f0e038!2sBurj+Al+Arab+Jumeirah!5e0!3m2!1sen!2sie!4v1520780693517" width="1000" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>

   {{> addcomment}}
  {{> listcomments}}
</section>